@use 'mixins';

main>div.main.configs {
    >ul {
        width: 90%;
        max-width: 90%;
        padding: 1rem;
        border-radius: 8px;
        background: #242526;



        input[type="number"] {
            max-width: 100px;
        }

        input.group {
            @media only screen and(max-width: 1400px) {
                max-width: 150px;
            }
        }

        button {
            @include mixins.default_button;
        }

        li {

            >div,
            form {
                @include mixins.flex($justify: start);
                gap: .8rem;
            }
        }

        li.groups {
            >div.group {
                @include mixins.flex($align: start, $direction: column);

                >div {
                    @include mixins.flex($justify: start);
                    gap: .8rem;
                }

                >div.group_values {
                    @include mixins.flex($align: start, $direction: column);

                    >form {
                        @include mixins.flex($justify: start);
                        gap: .8rem;
                    }
                }
            }
        }

        li+li {
            margin-top: .5rem;
        }
    }

    // input[type=]
}