main>div.main.stock {
    div.container {
        width: 80%;
        border-radius: 8px;
        padding: 1rem;
        background: #242526;
        margin-bottom: 1rem;
    }

    div.container.less {
        margin-bottom: .2rem;
    }
}