@use 'header';
@use 'comandas';
@use 'backups';
@use 'configs';
@use 'mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #1b1b1d;
}

.hidden {
  display: none;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input {
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
}

main>div.main {
  @include mixins.flex(center, center, column);
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 10rem;

  >div.wrapper {
    border-radius: 8px;
    background: #242526;
    padding: 1rem;

    >h2 {
      text-align: center;
    }
  }


  >div.wrapper>form.new_comand {
    @include mixins.inline_input(50px, 1.8rem, 80%);
  }
}

.select_component {
  position: relative;

  >button {
    padding: .5rem 1rem;
  }

  >div {
    position: absolute;
    left: 0;
    width: 100px;
    width: calc(80vw - 2rem);
    padding: .5rem;
    bottom: -140px;
    height: 130px;
    background: #242526;
    border: 1px solid #6ddc45;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    overflow: hidden;
    overflow-y: auto;

    >div {
      background: white;
      color: black;
      font-weight: bold;
      font-size: 1.5rem;
      border-radius: 8px;
      height: 50px;
      padding: .5rem;
      @include mixins.flex(center, center);
      cursor: pointer;
    }

    >div.selected {
      background: #6ddc45;
    }
  }
}

@media only screen and(max-width: 1100px) {
  :root {
    font-size: 80%;
  }
}

@media only screen and(max-width: 850px) {
  :root {
    font-size: 60%;
  }
}

@media only screen and(min-width: 1400px) {
  :root {
    font-size: 120%;
  }
}